<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.backend.mapper.PartyMapper">
    <select id="selectByMyWrapper" resultType="com.team.backend.model.Party">
        //返回有空位的party
        select * from party,party_participants where party.id=party_participants.party_id group by party.id having party.people_cnt>count(*);
    </select>
</mapper>
