<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.team.backend.mapper.PartyTypeMapper">
  <select
    id="selectByMyWrapper"
    resultType="com.team.backend.model.Party">
   SELECT party.* FROM party,party_participants WHERE ((party.id = party_participants.party_id and people_cnt > (SELECT COUNT(*) FROM party_participants WHERE party_participants.party_id = `party`.id))) OR (SELECT COUNT(*) FROM party_participants WHERE party_participants.party_id = `party`.id)=0   GROUP BY id;
    </select>
</mapper>
